/*===========================ОБНУЛЕНИЕ===============================================*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
    height: 100%;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    background: #fff;
    color: #000000;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1442px; /*1412px + 30px для отступов безопасности = 1442px*/
    padding: 0 15px;
    margin: 0 auto;
}
._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*================================HEADER================================*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 143px;
    padding: 54px 15px 0;
}
.header__logo {
    margin: 0 44px 0 0;
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
}
.menu__item {
    line-height: 116.667%;
    transition: color .15s ease;
}
.menu__item:hover {
    color: #009ABA;
}
.menu__item:not(:last-child) {
    margin: 0 44px 0 0;
}
.menu__link {
}
.header__model {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 121.42%;
    padding: 9px 12px;
    height: 35px;
    margin: 0 0 0 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.header__model span {
    color: #009ABA;
    font-weight: 700;
}

/*...HEADER MEDIA...*/
@media (max-width: 1024px) {
    .header__container {
        padding: 30px 15px 0;
    }
}
@media (max-width: 767px) {
    .menu__item {
        font-size: 14px;
    }
    .menu__item:not(:last-child) {
        margin: 0 25px 0 0;
    }
}
/*================================MAIN================================*/

/*----.page-main----*/
.page {
}
.page__main-block {
}
.main-block {
}
.main-block__container {
}
.main-block__body {
    display: flex;
}
.main-block__content {
    flex: 0 1 60%;
    padding: 221px 10px 0 0;
    max-width: 576px;
}
.main-block__title {
    font-size: 57px;
    line-height: 117.54%;
    font-weight: 500;
}
.main-block__title span {
    font-weight: 700;
    color: #04AFCB;
}
.main-block__title:not(:last-child) {
    margin: 0 0 46px 0;
}
.main-block__text {
    font-size: 28px;
    line-height: 117.85%;
}
.main-block__text:not(:last-child) {
    margin: 0 0 97px 0;
}
.main-block__button {
    background: #04AFCB;
    border-radius: 25px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 115%;
    padding: 12px 47px;
    height: 48px;
}
.main-block__image {
    flex: 0 1 auto; 
    padding: 74px 0 0 7.8%;
    background: #ffffff00;
    width: 800px;
    height: 668px;
    position: relative;
    z-index: 49;
}
.image-main {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 47;
}

.img-gradient {
    background: rgba(4, 176, 203, 0.774);
    filter: blur(160px);
    position: absolute;
    top: 139px;
    left: 153px;
    width: 331px;
    height: 444px;
    z-index: 1;
}


.main-block__popup {
    background: url(img/round-close.png) center no-repeat;
    width: 89.42px;
    height: 89.42px;
    position: absolute;
    z-index: 48;
    transition: .65s ease;
}
.main-block__popup:hover {
    background: url(img/round-open.png) center no-repeat;
}
.main-popup-1 {
    top: 192px;
    left: 223px;
}
.main-popup-2 {
    bottom: 203px;
    left: 124px;
}
.main-popup-3 {
    bottom: 76px;
    left: 418px;
}

/*----.page__advantage---*/
.page__advantage {
}
.advantage {
    background: linear-gradient(95.78deg, #0EABC8 0%, #0FAECB 78.01%, #23D0EF 97.56%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.advantage__container {
}
.advantage__text {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 21px;
    line-height: 119%;
    padding: 50px 0px;
    margin: 113px 0 0 0;
    text-align: center;
}

/*----.page__slider---*/
.page__slider {
}
.slider__container {
    margin: 83px 0 48.5px 54px;
}
.slick-list {
	overflow: hidden;
}
.slick-track{
	display: flex;
}
.slider {
	display: flex;
	max-width: 1366px;
	height: 100%;
}
.slider-big {
	position: relative;
	padding: 0 10px;
	flex: 0 1 50%;
	width: 25%;
	height: 25%;
}

.slider-right {
	flex: 0 1 50%;
	width: 25%;
	height: 25%;
	display: flex;
	flex-direction: column;
}
.slider-big__item {
}
.slider-text {
	position: relative;
	padding: 0 10px;
	flex: 0 1 50%;
}
.slider-text:not(:last-child) {
    margin: 0 0 66px 0;
}
.slider-text__item {
}
.slider-text .slick-dots li {
	margin: 0 10px;
}
.slider-text__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
}
.slider-text__title:not(:last-child) {
    margin: 0 0 60px 0;
}
.slider-text__content {
    display: flex;
}
.slider-text__col-1 {
    flex: 0 1 76.7%;
    padding: 0 0 0 20px;
}
.slider-text__list {
    font-size: 20px;
    line-height: 115%;
}
.slider-text__list:not(:last-child) {
    padding: 0 0 21px 0;
}
.list-1 {
    position: relative;
}
.slider-text__col-2 {
    flex: 0 1 auto;
}
.list-2 {
    text-align: right;
}
.slider-min {
	position: relative;
	flex: 0 1 50%;
}
.slider-min .slick-list {
	overflow: hidden;
}
.slider-min .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	margin: -30px 0 0 0;
}
.slider-min .slick-arrow.slick-prev {
	background: url(img/left.svg) 0 0 / 100% no-repeat;
    left: 0;
    width: 28px;
    height: 28px;
}
.slider-min .slick-arrow.slick-next {
	background: url(img/right.svg) 0 0 / 100% no-repeat;
    right: 0;
    width: 28px;
    height: 28px;
}
.slider-min .slick-slide {
	text-align: center;
	opacity: 0.5;
	transition: .5s ease;
}
.slider-min .slick-slide.slick-center {
	opacity: 1;
}
.slider-min .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-min .slick-dots li {
	margin: 0 10px;
}
.slider-min .slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgb(119, 119, 119);
}
.slider-min .slick-dots li.slick-active button {
	background: rgb(71, 71, 71);
}
.slider-min__item {
}
/*================================FOOTER================================*/
.footer {
}